@import url('https://fonts.googleapis.com/css?family=Dosis:400,700');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Dosis, sans-serif;
    text-align: center;
}

a:visited, a:link, a:hover, a:active {
    color: #FFF;
}

/*Navigation*/
nav#main-navigation > ul {
    padding: 1rem;
}

nav#main-navigation > ul > li {
    display: inline-block;
}

nav#main-navigation > ul > li + li {
    padding-left: 1rem;
}
/*End Navigation*/

a.button {
    height: 4rem;
    font-size: 2rem;
    color: #fff;
    line-height: 3.8rem;
    text-decoration: none;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 3rem;
    border: 1px solid white;
    overflow: hidden;
}

a.button:hover {
    transition: background 1.5s;

    background: purple;
}

/*Header*/
#header {
    margin: 0px 0px 50px 0px;
    padding-top: 100px;
}

#header-heading {
    width: 60%;
}
/*End Header*/

/*Carousel*/
.carousel-item img {
    width: 50%;
    min-width: 300px;
    max-width: 400px;
}
/*End Carousel*/

/*Biographies*/
.biography {
    margin: 10%;
    border: 1px solid white;
    border-radius: 1rem;
    padding: 30px;
    min-height: 300px;
    color: white;
}

.biography-headshot {
    float: left;
    width: 18%;
    max-width: 150px;
    border-radius: 2rem;
}
/*End Biographies*/


/*Atoms*/
.atom {
    display: inline-block;
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-size: 75px;
}

.carbon {
    background-image: url('graphics/C-normal.png');
}

.carbon:hover {
    background-image: url('graphics/C-drag.png');
}

.hydrogen {
    background-image: url('graphics/H-normal.png');
}

.hydrogen:hover {
    background-image: url('graphics/H-drag.png');
}

.oxygen {
    background-image: url('graphics/O-normal.png');
}

.oxygen:hover {
    background-image: url('graphics/O-drag.png');
}

.falling {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.falling.carbon {
    animation-delay: -1s;
    animation-name: carbon-fall;
}

.falling.hydrogen {
    animation-delay: 0s;
    animation-name: hydrogen-fall;
}

.falling.oxygen {
    animation-delay: -2s;
    animation-name: oxygen-fall;
}
/*End Atoms*/

/*App Store*/
#app-store {
    background-color: #FFFFFF;
}

#app-store-badge {
    width: 200px;
    margin: 50px 0px;
}
/*End App Store*/

/*Introduction*/
.introduction {
    background-color: white;
    padding-top: 35px;
}
/*End Introduction*/

/*Creators*/
.creators {
    color: white;
    padding-bottom: 50px;
    padding-top: 50px;
}
/*End Creators*/

/*Copy*/
.copy {
    padding-right: 15px;
    padding-left: 15px;
}

.copy span {
    font-weight: bold;
}
/*End Copy*/

/*Spiel*/
.spiel {
    font-size: 150%;
}
/*End Spiel*/

/*Email*/
.email {
    background: #F2F2F2;
    padding: 35px 0px;
    margin-top: 35px;
    font-size: 150%
}

.email img {
    width: 140px;
    margin: 35px;
}

.email a {
    text-decoration: none;
    color: #000000;
}
/*End Email*/

@keyframes carbon-fall {
    from {
        position: fixed;
        top: -5vh;
        left: 20%;
        }
    to {
        position: fixed;
        top: 105vh;
        left: 20%;
        }
}

@keyframes hydrogen-fall {
    from {
        position: fixed;
        top: -5vh;
        left: 45%;
        }
    to {
        position: fixed;
        top: 105vh;
        left: 45%;
        }
}

@keyframes oxygen-fall {
    from {
        position: fixed;
        top: -5vh;
        left: 70%;
        }
    to {
        position: fixed;
        top: 105vh;
        left: 70%;
        }
}


.row {
    margin-right: 0px;
    margin-left: 0px;
}

.diamond-background {
    background-image: url("graphics/diamond-tile2.png");
}

.gradient-background {
    background: linear-gradient(-45deg, purple,hsl(44, 51%, 59%));
}

.carousel {
    padding-bottom: 50px;
}

.portrait:hover {
    transform: scale(1.01);
}