<h2 style="text-align: center;">CHEMTRIX PRIVACY POLICY</h2> 
<p></p> 
<p>This privacy policy governs your use of the software application Chemtrix ("Application") for mobile devices that was created by Sam Woolf, Nathan March and Rob Andrews. The Application is an educational game where the user creates molecules from atoms.</p> 
<h4>What information does the Application obtain and how is it used?</h4> 
<p></p> 
<p><strong>User Provided Information</strong>&nbsp;</p> 
<p>The Application does not store any personal data proviced by users.</p> 
<p></p> 
 
<p><strong>Automatically Collected Information</strong>&nbsp;</p> 

<p>The Application may collect certain information automatically, including, but not limited to, the type of mobile device you use, your mobile devices unique device ID, the IP address of your mobile device, your mobile operating system, the type of mobile Internet browsers you use, and information about the way you use the Application.</p> 
<p></p> 

<p>This Application does not collect precise information about the location of your mobile device.&nbsp;</p> 


<p></p> 
 
<h4>What are my opt-out rights?</h4> 
<p></p> 
<p>You can stop all collection of information by the Application easily by uninstalling the Application. You may use the standard uninstall processes as may be available as part of your mobile device or via the mobile application marketplace or network. You can also request to opt-out via email, at info@chemtrix.co.uk</p> 


<h4><strong>Changes</strong></h4> 
<p>This Privacy Policy may be updated from time to time for any reason. We will notify you of any changes to our Privacy Policy by posting the new Privacy Policy on chemtrix.co.uk. You are advised to consult this Privacy Policy regularly for any changes, as continued use is deemed approval of all changes. 

<h4><strong>Your Consent</strong></h4> 
<p>By using the Application, you are consenting to our processing of your information as set forth in this Privacy Policy now and as amended by us. &quot;Processing&quot; means using cookies on a computer/hand held device or using or touching information in any way, including, but not limited to, collecting, storing, deleting, using, combining and disclosing information, all of which activities will take place in the United States. If you reside outside the United States your information will be transferred, processed and stored there under United States privacy standards.</p> 
<h4>Contact us</h4> 
<p>If you have any questions regarding privacy while using the Application, or have questions about our practices, please contact us via email at info@chemtrix.co.uk</p>